# 빌드 컨텍스트(루트)에서 이미지로 들어가지 않을 것들
**/node_modules
**/dist
**/build
**/coverage
**/.env
**/.env.*
**/*.sqlite
**/*.sqlite-journal
**/*.log

.git
.github
.npm-cache
blog
**/*.md
**/.DS_Store
**/.vscode
**/.idea
